# Virtual Environments
venv/
env/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model weights / large binary files
*.pt
*.pth
*.onnx
*.pkl
*.h5
